.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(to right, #8ef9c0, #97f4a5, #d1f392);
	box-shadow: 0 5px 5px rgba(175, 203, 252, 0.516);
	border-radius: 1.5rem;
	animation: gradientAnimation 10s linear infinite;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%; /* Initial position of the gradient */
	}
	50% {
		background-position: 100% 50%; /* Middle position of the gradient */
	}
	100% {
		background-position: 0% 50%; /* Final position of the gradient */
	}
}

.heading {
	font-size: 2.2rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
	background: -webkit-linear-gradient(
		45deg,
		var(--gradient-color-1),
		var(--gradient-color-2),
		var(--gradient-color-3),
		var(--gradient-color-4)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: colorChange 5s infinite alternate;
}

.menu {
	margin-bottom: 1rem;
}

.menu ul {
	display: flex;
	gap: 20px;
	list-style: none;
	padding-left: 0px;
}

.menu ul li {
	position: relative;
}

.menu ul li a {
	position: relative;
	text-decoration: none;
	color: rgb(250, 161, 60);
	font-weight: 700;
}

.menu ul li a::before {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 0%;
	height: 2px;

	background: -webkit-linear-gradient(
		45deg,
		var(--link-color-1),
		var(--link-color-2),
		var(--link-color-3),
		var(--link-color-4)
	);
	transition: width 0.3s ease;
	border-radius: 2px;
}

.menu ul li a:hover::before,
.menu ul li a.active::before {
	width: 100%;
}
