.blog-container {
  width: 30rem;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ffffff00;
  border-radius: 5px;
  background-color: #f9f9f900;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.1s ease;
  cursor: pointer;
}

.blog-container:hover {
  /* transform: translateY(-5px); */
  transform: scale(0.99);
  box-shadow: 0 4px 8px rgba(88, 88, 88, 0.333);
}

.blog-container img {
  height: 17rem;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  transition: filter 0.6s ease-in;
}

.blog-container img:hover {
  filter: grayscale(90%); /* Convert the image to black and white on hover */
}

.blog-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.blog-container p {
  margin-bottom: 10px;
  font-size: 0.8rem;
  color: rgb(199, 199, 199);
}
