<footer>
    <div class="subcribe-social">
        <div class="subscribe" id="subscribe">
            <input type="email" placeholder="Enter Your Email">
            <button type="submit">Subscribe</button>
        </div>
        <div class="social">
            <div class="social-icon">
                <a href="#"><i class="pi pi-facebook pi-facebook"></i></a>
                <a href="#"><i class="pi pi-instagram pi-instagram"></i></a>
                <a href="#"><i class="pi pi-twitter pi-twitter"></i></a>
                <a href="#"><i class="pi pi-youtube pi-youtube"></i></a>
            </div>
            <div class="email">
                <a href="mailto:youremail@example.com">youremail&#64;gmail.com</a>
            </div>
        </div>
    </div>
    <p>&copy; {{ currentYear }} PixelBlog. All rights reserved.</p>
    <app-scroll-to-top></app-scroll-to-top>
</footer>